@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
@font-face {
  font-family: "Hagrid";
  src: url("/fonts/hagrid/Hagrid-Regular-trial.ttf") format("truetype");
  font-weight: regular;
  font-style: regular;
}
@font-face {
  font-family: "Hagrid-Bold";
  src: url("/fonts/hagrid/Hagrid-Text-Extrabold-Italic-trial.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
